body {
    background-color:black;
    font-family:sans-serif;
    }
h1   {
    color:grey;
    text-align:center;
    font-size:2em;
    }
span{
    background-color: yellow;
}
p {
    margin-top: 13px;
    margin-left: 12%;
    margin-bottom: 8px;
}
.container {
    border-radius: 15px;
    margin: auto;
    margin-top:50px; 
    width: 25%;
    padding:10px;
    background-color: white;
}
.form {
    margin:auto;
    margin-top:15px;
    width:75%;
}
form {
    display: grid;
    grid-template-columns: 150px 200px;
    grid-row-gap: 10px;
}

input[type=number] {
    width:75%;
  }

#year{
    width:15%;
}